.text-input {
  border: 1px solid #cacccd;
  height: 5rem;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $small-margin;
}

.select {
  @extend .text-input;
  background: $mid-blue;
  color: white;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
